<?xml version="1.0"?>
<model>
  <name>kuka-omnirob</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Dennis Leroy Wigand</name>
    <email>dlwigand@gmail.com</email>
  </author>

  <description>
    Kuka OmniRob Model. Its base was adapted from the V-REP model repository.
  </description>
</model>